* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(hero.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  height: 40px;
  width: 100%;
  justify-content: center;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 700px;
  top: 46px;
}

.header > img {
  height: 34px;
  width: 100px;
}

.text {
  display: flex;
  gap: 24px;
}
.text p {
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: 600;
  height: 22px;
  width: 100px;
}

.lang-selector {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: none;
}
.b {
  height: 25px;
  width: 22px;
}
.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 83px;
  color: white;
  padding-top: 100px;
}

.svg p {
  font-weight: 400;
}

.svg p:nth-child(1) {
  font-size: 80px;
  margin-bottom: -50px;
  opacity: 0.7;
  font-family: "Bebas Neue", sans-serif;
}

.svg p:nth-child(2) {
  font-size: 250px;
  margin-bottom: -50px;
  font-family: "Bebas Neue", sans-serif;
}

.svg p:nth-child(3) {
  font-size: 64px;
  font-family: "Bebas Neue", sans-serif;
}

.location {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.photo {
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
}

.flex {
  display: flex;
  justify-content: space-around;
  height: 500px;
  padding: 65px 119px 60px 119px;
  font-size: 20px;
}

.card {
  position: relative;
}
.card p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 37px;
  gap: 40px;
  box-shadow: 8px 8px 0 0 rgba(41, 114, 139, 0.25),
    -8px -8px 0 0 rgba(31, 126, 170, 0.46);
  border-radius: 40px;
}
.card p:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.roadmap {
  height: 100vh;
  width: 100%;
  background-image: url(roadmap.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.roadmap_header {
  row-gap: 10px;
  padding-top: 120px;
  flex-direction: column;
  color: black;
  display: flex;
  margin-bottom: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap_title {
  font-size: 42px;
  font-weight: 600;
}

.roadmap_subtitle {
  opacity: 70%;
  font-size: 20px;
  color: #181818;
  font-weight: 500;
  text-transform: capitalize;
}

.list {
  margin: 60px 121px 0;
  gap: 20px;
}

.list-card {
  width: 513px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 9999px;
  border: 4px solid transparent;
  justify-content: space-between;
}

.list-card-Sukhbaatar {
  background-color: rgba(238, 233, 217, 0.8);
  font-size: 24px;
  font-weight: 500;
  color: #090908;
  margin-bottom: 20px;
}

.align-center {
  display: flex;
  align-items: center;
}

.list-card-location {
  column-gap: 12px;
}

.map-pin {
  width: 14px;
  height: 14px;
}

.location_name {
  font-size: 12px;
  color: #18181b;
  font-weight: 400;
}

.list-card-Amarbaysgalant {
  background-color: rgba(139, 184, 193, 0.8);
  font-size: 24px;
  font-weight: 500;
  color: #090908;
  margin-bottom: 20px;
}

.list-card-Khorgo {
  background-color: rgba(170, 216, 215, 0.8);
  font-size: 24px;
  font-weight: 500;
  color: #090908;
  margin-bottom: 20px;
}

.list-card-Terkh {
  font-size: 24px;
  font-weight: 500;
  color: #090908;
  margin-bottom: 20px;
  background-color: rgba(139, 192, 189, 0.8);
}

.list-card-Khuvsgul {
  background-color: rgba(151, 204, 224, 0.8);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer {
  height: 100vh;
  width: 100%;
  background-image: url(footer.png);
}

.footer_header {
  text-align: center;
  padding-block: 40px 80px;
}

.footer_title {
  font-size: 42px;
  font-weight: 600;
}

.footer_subtitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  text-transform: capitalize;
  opacity: 70%;
}

.footer_pack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 116px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.footter {
  display: flex;
  column-gap: 24px;
  margin-bottom: 116px;
  justify-content: space-between;
}

.footer_package {
  width: 384px;
  height: 527px;
  cursor: pointer;
  border-radius: 40px;
  padding: 32px 24px 48px;
  background-color: white;
  column-gap: 10px;
}

.footer_package:hover {
  box-shadow: -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.footer_package:hover .package_button {
  background-color: black;
  color: white;
}

.footer_package_header {
  font-size: 18px;
  color: #121316;
  font-weight: 600;
  margin-bottom: 24px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heart {
  width: 36px;
  height: 36px;
}

.h5 {
  width: 141px;
  height: 22px;
}

.footer_details {
  padding-block: 12px 30px;
  width: 336px;
  height: 290px;
}

.footer_price {
  font-size: 40px;
  font-weight: 600;
  font-family: "Semibold", sans-serif;
  width: 336px;
  height: 49px;
}

.footer_description {
  font-size: 16px;
  color: #919191;
  font-weight: 500;
  margin-block: 10px 32px;
  font-family: "Inter", serif;
}

.footer_details h4 {
  font-size: 18px;
  color: #121316;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 16px;
}

.include_item {
  column-gap: 20px;
  color: #3f4145;
  display: flex;
}

.check {
  width: 20px;
  height: 20px;
}

.package_button:hover {
  background-color: #090908;
  color: white;
}

.package_button {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 600;
  padding-block: 20px;
  border-radius: 9999px;
  background-color: rgba(164, 209, 226, 1);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.footerr {
  padding: 80px 120px 80px 120px;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.footerr :first-child {
  display: flex;
  column-gap: 20px;
}

.social {
  width: 171px;
  font-size: 18px;
  color: #6972b5;
  column-gap: 10px;
  font-weight: 700;
  padding-block: 10px;
  border-radius: 9999px;
  background-color: white;
  font-family: "Montserrat", serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social img {
  width: 24px;
  height: 24px;
}

footer .pinetour {
  height: 35px;
  width: 101px;
  margin-left: auto;
}
