* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 44px;
  position: fixed;
  column-gap: 24px;
  background-color: rgb(245, 245, 247);
  inset-inline: 0px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}

.header-icons-center {
  column-gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  font-size: 14px;
  margin-top: 44px;
  color: #1d1d1f;
  font-weight: 500;
  padding: 16px 31px;
  text-align: center;
}

.hero-container-iphone-16-pro {
  background-image: url(./Background.png);
}

.hero-container {
  width: 100vw;
  height: 692px;
  text-align: center;
  margin-bottom: 12px;
  flex-direction: column;
  background-size: cover;
  padding-block: 55px 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.align-center {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 52px;
  color: #f5f5f7;
  font-weight: 600;
}

.hero-subhead {
  font-size: 24px;
  color: #f5f5f7;
  font-weight: 400;
  margin-block: 16px 20px;
}

.hero-buttons {
  display: flex;
  column-gap: 16px;
}

.button-primary {
  background-color: rgba(0, 113, 227, 1);
  color: #fff;
}

.button {
  cursor: pointer;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 999px;
  border: solid rgba(0, 113, 227, 1);
}

.button-secondary {
  color: #2997ff;
  border: solid #2997ff 1px;
  background-color: transparent;
}

.hero-container-iphone-16-pro-2 {
  background-image: url(./back2.jpg);
}

.hero-container-gift-magic {
  background-image: url(back3.jpg);
  justify-content: flex-end;
}

.hero-container {
  width: 100vw;
  height: 692px;
  text-align: center;
  margin-bottom: 12px;
  flex-direction: column;
  background-size: cover;
  padding-block: 55px 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.align-center {
  display: flex;
  align-items: center;
}

.hero-title-dark {
  color: black;
}

.hero-subhead-dark {
  color: black;
}

.button--primary {
  color: #fff;
  background-color: #0071e3;
}

.button {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 999px;
  text-decoration: none;
  border: solid #0071e3 1px;
}

.product-bottom {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: flex-end;
}
.product {
  display: flex;
  text-align: center;
  align-items: center;
  padding-block: 53px;
  height: 580px;
  width: 942px;
  flex-direction: column;
  padding-block: 48px 58px;
  background: url("./picture1.jpg");
  background-size: cover;
}

.product-title {
  font-size: 36px;
  color: #f5f5f7;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-subhead {
  font-size: 18px;
  color: #f5f5f7;
  padding-block: 2px 16px;
}

.product-buttons {
  display: flex;
  column-gap: 16px;
}

.button {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 999px;
  text-decoration: none;
  border: solid #0071e3 1px;
}

.button--secondary {
  color: #2997ff;
  border: solid #2997ff 1px;
  background-color: transparent;
}

.pro {
  display: flex;
  text-align: center;
  align-items: center;
  padding-block: 53px;
  height: 580px;
  width: 942px;

  flex-direction: column;
  padding-block: 48px 58px;
  background: url(./picture2.jpg);
  background-size: cover;
}

.pro-title-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro-subhead-dark {
  color: #1d1d1f;
}
.pro-subhead {
  font-size: 18px;
  color: black;
  padding-block: 2px 16px;
  line-height: 25px;
  font-weight: 400;
}

.ipadair {
  background: url(./ipadair.jpg);
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  height: 580px;
  width: 942px;
  flex-direction: column;
  padding-block: 48px 58px;
}

.ipadair-title-image img {
  height: 33px;
  top: 58px;
}

.ipadair-subhead {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  width: 332px;
  height: 25px;
}
